@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.modalImage {
  width: 100%;
  height: auto;
}

.removeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.favorite {
  cursor: pointer;
}

.plus {
  cursor: pointer;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

h5 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  display: flex;
  flex-direction: column;

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }
}

.animate {
  animation-name: fadeInScale;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

@keyframes fadeReverse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalOpeningBack {
  animation-name: fadeReverse;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

@keyframes modalCloseAnimation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.modalClosing {
  animation: modalCloseAnimation 0.2s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modalClosingBackground {
  animation: fade 0.2s ease-in-out;
}
