.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Затемненный фон
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.modalImage {
  width: 100%; // или другой подходящий размер
  height: auto;
}

.removeBtn {
  position: absolute;
  top: 20px;
  right: 20px; 
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.favorite {
  cursor: pointer;
}

.plus {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}