body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  div {
    h3 {
      text-transform: uppercase;
    }
  }

  .headerLeft {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h3,
    p {
      margin: 0px;
    }

    p {
      opacity: 0.5;
    }
  }
}

.headerRight {
  display: flex;

  .cartIconPrice {
    margin-right: 30px;
    cursor: pointer;

    span {
      margin-left: 10px;
      position: relative;
      top: -5px;
    }
  }
  .likeIcon {
    cursor: pointer;
    margin-right: 30px;
  }
}

.content {
  padding: 40px;

  .contentNameNsearchPos {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;

    h1 {
      margin: 0;
      overflow: auto;
      font-weight: 700;
      font-size: 32;
    }
  }
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.cartEmpty {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  .mb-20 {
    margin-bottom: 20px;
    width: 100px;
  }

  .infoTitle {
    margin: 0;
    font-weight: 600;
  }

  p {
    width: 280px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0.6;
    font-weight: 400;
  }

  .greenButton {
    width: 245px;
    margin-top: 30px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0px 15px;
  display: flex;
  position: relative;

  .clear-btn {
    right: 0;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 15px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }

  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9dd558, $amount: 5%);
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  body {
    padding: 3%;
  }

  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }

  //header
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    border-bottom: 1px solid #eaeaea;

    .headerLeft {
      display: flex;
      align-items: center;

      img {
        margin-right: 8%;
      }

      h3 {
        font-size: 3.6vw;
      }
      
      h3,
      p {
        margin: 0px;
      }

      p {
        opacity: 0.5;
        display: none;
      }
    }
  }

  .headerRight {
    display: flex;

    .cartIconPrice {
      margin-right: 32px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center; 

      span {
        margin-right: px;
        position: absolute;
        top: 30px;
        font-size: 3vw;
        white-space: nowrap;
        color: #797979;
        font-weight: bold;
        // display: none;
      }
    }

    .likeIcon {
      cursor: pointer;
      margin-right: 30px;
    }
  }
  //

  //name, search, content
  .content {
    padding: 5%;

    .contentNameNsearchPos {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      justify-content: space-between;

      h1 {
        margin: 0;
        overflow: auto;
        font-weight: 700;
        font-size: 5vw;
      }
    }
  }
  .search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0px 15px;
    display: flex;
    position: relative;
    width: calc(
      50% - 6px
    );

    .clear-btn {
      right: 0;
      cursor: pointer;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 14px;
      right: 15px;
    }

    input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 30vw;
      box-sizing: border-box;
    }
  }
  //

  .sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
